<div>
  <p>Luis Garcia</p>
  <p>I am a software developer in Washington. Here's a little about me and the story so far...</p>
  <br/>

  <div id="container-for-resume">
    <div id="skills">
      <p>
      Skills
      </p>
      <p>I've worked with various languages and tools throughout my journey as a student and a developer. There often times where I learn a language for a one-off project, coursework, or was influenced by the praises of other developers to pick up a new language. But these are the ones that I've enjoyed and continue to use today both personally and professionally.</p>
      <ul>
        <li>C#</li>
        <li>.NET</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>SQL</li>
        <li>Docker</li>
        <li>Bash</li>
        <li>Vim/Vim Bindings</li>
        <li>Rider</li>
      </ul>
    </div>
    <br/>
    <div id="container-for-edu">
      <p>
      Education
      </p>
      <p>Eastern Washington University</p>
      <p>Bachelor's in Computer Science with a Minor in Cyber Security [DEC.2022]</p>
      <p>Relevant Coursework: Object Oriented Programming, Data Structures, Algorithms,
Dformatter for .component.html files nvimiscrete Mathematics, .NET Programming, .NET Web Applications, Operating Systems, C and Unix Programming, Software Development Principles.</p>
    </div>
    <br>
    <div id="container-for-experience ">
      <p>Experience</p>
      <div>
      <p>Premera Blue Cross</p>
      <p>Software Developer I, Mountlake Terrace, WA [JAN. 2023 - AUG. 2024]</p>
      <p>Premera Blue Cross is a prominent blue cross blue shield insurance company in the Pacific Northwest. As a full time developer, I got the opportunity to work on business changes to back-end applications that fulfilled crucial functions for the business, build developer tools to streamline and standardized code deployments, and develop internal desktop applications.</p>

      <p>Further responsibilities included designing, writing documentation, collaborating with the business and various teams at Premera, and driving the daily developer standup.</p>
      </div>
    </div>
  </div>
</div>
