<div class="mt-12 text-center space-y-4">
  <p class="text-textSecondary text-4xl font-bold">Get in touch!</p>
  <p class="text-2xl">
    I’m currently not exploring new opportunities, but I’m always open to
    meeting new people. Feel free to reach out and say hi!
  </p>

  <button
    class="mt-2 mb-2 text-white bg-buttonPrimary hover:bg-buttonHover hover:text-subTitles font-semibold py-2 px-4 rounded border-2 border-textSecondary"
  >
    <a href="mailto:GarciaLuis-hjkl@outlook.com"> Contact </a>
  </button>
</div>
