<div class="space-y-4">
  <div class="space-y-2 w-max">
    <p class="text-textSecondary text-xl">Hello, I'm</p>
    <p
      class="text-textTitle animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-black pr-4 text-4xl font-bold"
    >
      Luís Garcia
    </p>
  </div>
  <div class="text-xl text-wrap">
    <p>
      I’m a <b>software developer</b> based in Washington, specializing in
      building quality back-end applications and websites.
    </p>

    <div class="flex gap-4 mt-4 text-4xl">
      <a href="https://www.github.com/TechGlue">
        <i class="fa-brands fa-square-github hover:text-iconsHover"></i>
      </a>
      <a href="https://www.linkedin.com/in/luis-garcia-097a60237/">
        <i class="fa-brands fa-linkedin hover:text-iconsHover"></i>
      </a>
      <a href="mailto:lgarcia29@ewu.edu"
        ><i class="fa-solid fa-square-envelope hover:text-iconsHover"></i
      ></a>
    </div>
  </div>

  <!--
  <div>
    <button
      (click)="navigateToContact()"
      class="mt-2 mb-2 bg-buttonPrimary hover:bg-buttonHover font-semibold py-2 px-4 rounded border-2 border-textSecondary"
    >
      Let's talk
    </button>
  </div>
--></div>
