<div class="">
  <p>Hello, I'm</p>
  <div class="w-max">
    <p
      class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-black pr-5 text-4xl font-bold text-black"
    >
      Luís Garcia
    </p>
  </div>
  <p>I enjoy building things and solving problems big or small</p>
  <p>
    Who am I? I’m a software engineer based in Washington, specializing in
    building quality back-end applications and websites.
  </p>
  <button (click)="navigateToContact()" class="bg-sky-50">Let's talk</button>
</div>
