<div class="space-y-4">
  <div class="space-y-2 w-max">
    <p class="text-textSecondary text-xl">Hello, I'm</p>
    <p
      class="text-textTitle animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-black pr-4 text-4xl font-bold"
    >
      Luís Garcia
    </p>
  </div>
  <div class="text-xl text-wrap">
    <p>
      <b>Who am I?</b> I’m a software engineer based in Washington, specializing
      in building quality back-end applications and websites.
    </p>
  </div>

  <div>
    <button
      (click)="navigateToContact()"
      class="mt-2 mb-2 bg-buttonPrimary hover:bg-buttonHover font-semibold py-2 px-4 rounded border-2 border-textSecondary"
    >
      Let's talk
    </button>
  </div>
</div>
