<div class="space-y-4">
  <div class="space-y-2 text-xl">
    <p class="text-textSecondary text-3xl font-bold">Who am I?</p>
    <p class="">
      <b
        >I’m Luis, I enjoy building software that solves real-world problems.</b
      >
      While my primary focus is back-end development, I also enjoy exploring my
      creative side by designing and building front-end applications.
    </p>
    <p class="">
      I accomplished a Bachelor's degree in Computer Science from Eastern
      Washington University. I have been writing software professionally for 2
      years working primarily in .NET on various projects ranging from backend
      business applications, developer tools, and legacy desktop apps.
    </p>
  </div>
  <div class="text-xl">
    <p class="text-textSecondary text-2xl font-bold">Fun facts:</p>
    <ul class="list-disc ml-6">
      <li>
        I enjoy configuring my terminal and learning new tools to "boost my
        productivity"
      </li>
      <li>Split keyboard enthusiast (MoErgo Glove 80)</li>
      <li>Currently in my Fitness Arc. 225LB squat and bench.</li>
      <li>Working on making reading a habit in 2024</li>
      <li>Devoted sneakerhead</li>
    </ul>
  </div>
</div>
