<div class="space-y-4 mb-4">
  <div class="space-y-2 text-xl">
    <!--Special condition for whatever reason the W character does not align with the rest of the content -->
    <p class="-ml-1 text-subTitles text-4xl font-bold">Who am I?</p>
    <p class="">
      <b>I’m Luis (Loo-eece)...</b>
    </p>
    <p class="">
      I have been writing software professionally for a while now working
      primarily in .NET on projects ranging from backend business applications,
      developer tools, and legacy Windows desktop apps. Where now I've
      transitioned to a data related role working with SQL, Power BI, and
      Python. Exploring everything this field has to offer all the while
      enjoying the journey.
    </p>
  </div>
</div>
