<div class="bg-red-50 scroll-smooth col-span-2">
  <p>
    Hi! I’m Luis, a software engineer based in Washington. I enjoy building
    software that solves real-world problems. While my primary focus is back-end
    development, I also love exploring my creative side by building front-end
    applications.
  </p>

  <p>
    About my background, I have a Bachelor's degree in Computer Science from
    Eastern Washington University. I have been writing software professionally
    for 2 years working primarily in .NET on various projects ranging from
    backend business applications, developer tools, and desktop applications.
  </p>

  <p>Fun facts about me:</p>
  <ul>
    <li>
      I enjoy configuring my terminal and learning new tools to "boost my
      productivity"
    </li>
    <li>Split keyboard enthusiast (MoErgo Glove 80)</li>
    <li>225LB squat and bench</li>
    <li>In 2024 I creating the habit of reading</li>
    <li>Sneakerhead</li>
  </ul>
</div>
