<div class="md:hidden" id="burger-menu-button">
  <!-- Burger menu button -->
  <button (click)="toggleNav()">
    <i class="fa fa-bars text-4xl" aria-hidden="true"></i>
  </button>
</div>

<nav class="m-1">
  <div
    class="hidden md:flex md:gap-2 md:mb-12 md:justify-end md:flex-row"
    id="nav-elements"
  >
    @if (temp !== 0 && city !== "") {
      <div>
        <p class="mt-0 justify-start md:flex-row">{{ city }}, WA</p>
        <p class="mt-0">{{ temp }} ℉</p>
      </div>
    }
    @for (routes of navBarRoutes; track routes) {
      <div>
        @if (routes.routeName === "Contact") {
          <button
            class="hover:text-buttonHover md:rounded-full md:bg-buttonPrimarySecondary md:border-textSecondary md:border-2 md:text-altText md:px-3 md:hover:bg-altButton md:hover:text-white md:hover:border-text-white"
          >
            <a
              class="font-semibold nav-link"
              routerLink=""
              fragment="{{ routes.fragment }}"
              >{{ routes.routeName }}</a
            >
          </button>
        } @else {
          <a
            class="nav-link hover:text-buttonHover font-semibold"
            routerLink=""
            fragment="{{ routes.fragment }}"
            >{{ routes.routeName }}</a
          >
        }
      </div>
    }
  </div>
</nav>
