name: PersonalSite Build and Deploy Workflow 

on:
  workflow_dispatch:
  push:
    branches:
      - master
 
jobs:
  CI_Tests:
    name: Run Angular Tests
    uses: TechGlue/PersonalSite/.github/workflows/node.js.yml@master
  Build_And_Deploy_To_Azure:
    needs: CI_Tests
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy to Azure
    permissions:
       id-token: write
       contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Install OIDC Client from Core Package
        run: npm install @actions/core@1.6.0 @actions/http-client
      - name: Get Id Token
        uses: actions/github-script@v6
        id: idtoken
        with:
           script: |
               const coredemo = require('@actions/core')
               return await coredemo.getIDToken()
           result-encoding: string

      - name: Inject API_URL into environment.ts
        run: |
          sed -i "s#apiurl: ''#apiurl: '${{ secrets.API_URL }}'#g" ./PersonalSite/src/environments/environment.ts

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_YELLOW_TREE_0108E5E0F }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          app_location: "PersonalSite/" # App source code path
          api_location: "OpenWeatherProxyFunction/" # Api source code path - optional
          output_location: "dist/personal-site/browser" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

